<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!-- category-products -->
        <vc:Details></vc:Details>
    </div><!-- /category-products -->
    <!-- brands_products -->
    <h2>Brands</h2>
    <div class="panel-group category-products" id="accordian">
        <vc:Brands></vc:Brands>

        <!-- Nút bấm "Apple" -->
        <button id="appleButton" class="button" style="color: black;">
            <i class="fab fa-apple"></i>
            <span id="buttonText">Apple</span>
        </button>
    </div><!-- /brands_products -->
</div>

